@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG-3FnYxVvPbz3VJq1BJKCGLDfu99DUE6im0C5FsnOZCxYKJ750lvvVJemN5t8hqbpmzMYmJPqbkvzKTKiuBACIkYPkeZ4dQSW2vmhrQ-XDilbWCdoTRXd4UBVt_2QGv9my6xh848sT6HgyMcQ6i55RFo3hm8XiU13iuyOluyasyVjynNYzDf2vkFl6NC15punXnTz8K29rBBbF3TPDQlpL1rxsfdLIWVyn0dCZjUAer8hyCeqXaz7RXs9bW_k49mQfz_iBwo-brod7O58EJydyi5FhwrOvsF_rjBPiJs1KI2u5Fan0avrGDsHrY6hnMsjRCASN-jsgM-YobSjP1wC_LEs-OjLVXv7BrXZjrsARwLm39Ucogal-_QKTXQzxiAMn8nkD_gR9sZp2L5RcnpKOaT9AwnWzPsnfZlIiVAFmitqI14YpDM-Ov1Vbub3Y2J8_VmitSTHOhGAjaa&skey=cf0bb10b5602fdc3&v=v40) format('truetype');
}
